# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/backend/node_modules
/frontend/node_modules

# production
/backend/build
/backend/dist
/frontend/build
/frontend/dist

# misc
/backend/.DS_Store
/backend/.env.local
/backend/.env.development.local
/backend/.env.test.local
/backend/.env.production.local

/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/backend/npm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# IDEs and editors
/backend/.idea
/frontend/.idea

